h3{
	font-family: Lobster, cursive;
}
#quote{
	font-family: Simplifica, sans-serif;
}
#author{
	font-size: 16px;
	font-style: italic;
	padding-right: 60px;
}
body{
	background: linear-gradient(to right, #8585c4, #29298e);
}
#quote-bg{
	background-color: rgba(229, 222, 218, 0.8);
}